
$l-footer-columns-bg: #272727;
$l-footer: #1f1f1f;

.l-footer, .l-footer-columns {
  color: #FFF;
  a {
    color: #FFF;
    &:hover {
      text-decoration: underline;
    }
  }
}


.l-footer-columns {
  background: $l-footer-columns-bg;
  padding: 100px 0 0 0;
  .block-title {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
  }
  .block-comment-recent li span {
    font-size: 13px;
    opacity: 0.4;
  }
  
  .social-icons li i {
    height: 35px;
    padding: 10px 5px;
    text-align: center;
    width: 35px;
  }
  .menu-item {
    line-height: 28px;
  }
}

.l-footer {
  background: rgba(2, 12, 27, 1);
  border: none;
}

.l-footer {  
  color: #777;
  a {
    color: #ddd;
  }
  & h1, & h2, & h3, & h4, & h5, & h6 {
    color: #FFF;
  }
}
.l-footer-columns .textwidget p {
  margin-bottom: 5px;
}