// Non-modular or client styles for .l-footer region.

.l-footer-columns {
  clear: both;
  .block-comment-recent li span {
    display: block;
  }
  #searchform {
    position: relative;
  }
  #wp-calendar {
    a {
      color: #265FB4;
    }
    #prev,#next {
      a {
        color: #265FB4;
      }

    }
  }
}

.l-footer {
  padding-top : 1em;
  #lang_sel_list li {
  left:40%;
  }

  p {
    margin : 0;
    padding-bottom : 0.7em;
    direction: ltr;
  }
  .footer  {
    text-align : left;
  }
  margin-bottom:0;
  section.block {
    padding: 0;
  }
}
#lang_sel_list ul a, #lang_sel_list_list ul a:visited,#lang_sel_list a, #lang_sel_list a:visited {
  background : none;
}
.l-footer-columns tfoot {
  background: none repeat scroll 0 0 transparent;
}
.l-footer-columns table {
  background-color: rgba(255,255,255,.3);
}
.l-footer-columns  .calendar_wrap table{
  background: #fff;
}
.l-footer-columns table tr.even, table tr.alt, table tr:nth-of-type(2n) {
  background-color: transparent;
}
.l-footer-columns #s {
  background: rgba(255,255,255,.3);
  border-bottom: 0;
  border-width: 0;
}
.l-footer-columns input#searchsubmit {
  height: 40px;
  top: 0;
}
.l-footer-columns table caption {
  color: #AAA;
}
.l-footer-columns .block-title, .l-footer-columns ul li a {
  color: #AAA; 
}
.l-footer-columns ul {
  margin-left: 0;
}
.l-footer-columns select {
  color : #000;
}
.l-footer-columns {
  abbr {
    color: #fff;
  }
  .wp-caption {
    p {
      color: #000;
    }
  }
}
